//====================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
textarea.input{
   resize: none;
   padding:0px 0px ;
}
.input{
   &._focus{

   }
   &._error{
      
   }
}
//====================================
.btn{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 0px 15px;
   text-align: center;
   transition:all 0.3s ease 0s;
   min-height: 48px;
   // @media(min-width: 992px){
   // &:hover{

   // }
   // }
   // &._fw{
   //    width: 100%;
   // }
   &_white {
      color:$orangeColor;
      background-color: #fff;
      @media(any-hover: hover){
        &:hover{
         background-color: $orangeColor;
         color: #fff;
        }
      }
   }
}